<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>hbi2AUNG4AwK4eVjRf6wIzmWgdpXT337</string>
	<key>Domain</key>
	<string>voicechatroom.auth0.com</string>
</dict>
</plist>
